.nav_container{
    margin-top: 10px;
    display: flex;

}

.nav_ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav_li{
    margin-left: 15px;
}
.nav_li:active{
    background-color: blueviolet;
}